<div ng-controller="homePageController" class="col-md-9 col-md-offset-1" ng-hide="me.id || false">
    <div class="panel panel-default">
        <div class="panel-heading">Inicio</div>
        <div class="panel-body">
            <h4>Por favor inicie sesión para usar el sistema o registrate</h4>
            <br>
            <br>
            <br>
            <a  href="/signup" class=" col-md-2 col-md-offset-5 btn btn-lg btn-success">Sign up</a>                  
        </div>
    </div>
</div> 


