<div class="ui compact vertical labeled icon menu">
  <a class="item" href="/promotion">
    <i class="desktop icon"></i>
    Promociones
  </a>
  <a class="item" href="/gallery" >
    <i class="camera retro icon"></i>
    Administrador
  </a>
  <a class="item" href="/imagesG">
    <i class="photo icon"></i>
    Galeria
  </a>
</div>