<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                <div class="panel-body">
                    <!-- Angular directive for signing up   -->
                    <form ng-submit="SignupForm()" class="form-horizontal" role="form">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Name</label>
                            <div class="col-md-6">
                                <input ng-model="signup.name" type="text" class="form-control" name="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">E-Mail Address</label>
                            <div class="col-md-6">
                                <input ng-model="signup.email" type="email" class="form-control" name="email">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Password</label>
                            <div class="col-md-6">
                                <input ng-model="signup.password" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirm Password</label>
                            <div class="col-md-6">
                                <input ng-model="signup.repassword" type="password" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Question</label>
                            <div class="col-md-6">
                                <input ng-model="signup.question" type="text" class="form-control" name="question">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Answer</label>
                            <div class="col-md-6">
                                <input ng-model="signup.answer" type="text" class="form-control" name="answer">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
									Register
		            	</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>